language: go

go:
 - 1.10.x
 - 1.11.x
 - master

os:
 - linux
 - osx

matrix:
  include:
   - os: osx
     env:
      - GOFLAGS="-tags kqueue"
  allow_failures:
   - go: tip

env:
  global:
   - GOBIN=$HOME/bin
   - PATH=$HOME/bin:$PATH

install:
 - go get -t -v ./...

script:
 - "(go version | grep -q 1.4) || go vet -all ."
 - go install $GOFLAGS ./...
 - go test -v -timeout 60s -race $GOFLAGS ./...
